@media (max-width: 599px) {

    .sect-pdn{
        width: 100%;
        margin: 0;
        padding: 30px 0;
        background-color: ;
    }

    .mtt{
        margin-top: 16px;
    }

    .mbb{
        margin-bottom: 16px;
    }

    h2{
        font-size: 22px;
 
    }
    
    .txt_styles{
        font-size: 14px;
    }

    .txt_styles_2{
        font-size: 15px;
    }

    .txt_styles_3{
        font-size: 16px;
    }
    
    .txt_list{
        margin-left: 25px;
    }

    .txt_styles_bold {
        font-size: 16px;
    } 

    .txt_princ_s2{
        font-size: 22px;
    
    }

    .txt_princ_s3{
        font-size: 18px;
    
    }

    .txt_princ_s4{
        font-size: 18px;
    }
    
    
    /* seccion 1*/
    .sect1-full-screen{
        width: 100%;
        height: 40vh;
    }
    .cont-p{
        position: relative;
        z-index: 1;
        width: 95%;
        background-color: ;
    }

    .cont-div2{
        width: 100%;
    }

    h1{
        font-size: 28px;    
    }

    .txt_princ_s1{
        font-size: 20px;
    
    }

    /* seccion 2 */

    .cont-fix-mrg{
        width: 95%;
        padding: 0;
        background-color: ;
       
    }
    
    .disp-row-col{
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .cont_d3{
        width: 100%;
        min-width: 250px;
        max-width: 599px;
        height: auto;
        background-color: ;
        overflow: hidden;
    }

    .cont_d3:nth-child(2){
        margin: 16px 0;
    }

    .cont_d3 img{
        width: 70%;
        max-width: 300px;
        height: auto;
    }

    .subtitle1{
        font-size: 22px;
    }

    /* seccion 3 */

    .cont_d2_spc1{
        width: 100%;
        min-width: 250px;
        max-width: 599px;
        height: auto;
        background-color: ;
    
    }  
    
    #seccion3 .cont_d3 {
        width: 100%;
        max-width: 599px;
        height: auto;
        background-color: ;
        overflow: hidden;

    }

    #seccion3 .cont_d3 img{
        width: 70%;
        max-width: 300px;
        height: auto;
    }
    
    #seccion3 .mt{
        margin-top: 0;
    }

    /* seccion 4 */

    .cont_full{
        width: 100%;
        height: 150px;
    }
    

    
    .cont_mid{
        width: 100%;
        height: auto;
        background-color: ;
        margin: 32px 0 0 0;
        padding: 0;
        background-color: ;
    }

    #seccion4 .disp-row-col{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: start;
    }
    
    .cont_d2{
        width: 100%;
        height: auto;
        background-color: ;
        overflow: hidden;
    }
    .cont_d2:nth-child(1){
        margin-bottom: 16px;
    }



    #seccion5 .disp-row-col{
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    .col2_mg{
        width: 100%;
        max-width: 599px;
        min-width: 300px;
        height: auto;
        background-color: ;
        padding: 0;
    }

    .container_movim{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    
    .cm1{
        width: 100%;
        max-width: 170px;
        height: auto;
        margin: 0 auto;
        
    }
    
    .cm1 img{
        
    }
    
    .cm2{
        width: 100%;
        max-width: 500px;
        height: auto;
        background-color: ;
        margin: 0 auto;
    }
    
    .cm2 p {
        text-align: center;

    }
    
    .col2_mp{
        width: 100%;
        max-width: 599px;
        min-width: 300px;
        height: auto;
        background-color: ;
        margin: 16px auto 0 auto;
        position: relative;

    }

    .col2_mp::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 50%;
        left: 0;
        background: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
        pointer-events: none;
    }
    
    .col2_mp img{
        width: 100%;
        height: auto;
    }

      /* secciojn 6 */

      #seccion6 .disp-col{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        }
    
    .col2_md{
        width: 90%;
        padding: 10px;
        margin: 8px auto;
        }

        
        .box-txt-col-md{
            width: 100%;
            height: auto;
        }
        
        .box-img-col-md{
        
            width: 100%;
            height: auto;
            padding: 0;
            margin: 0;
        
        }
        
        .box-img-col-md img{
            width: 100%;
            height: auto;
        }

        /* seccion  7 */

        #seccion7 .disp-row-col{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .col2_md2{
            width: 85%;  
            padding: 16px;
            background-color: ;
        }
        
        .col2_md2:nth-child(1){
            margin-right: 0;
            margin-bottom: 8px;
        }
        
        .col2_md2:nth-child(2){
            margin-left: 0;
            margin-top: 8px;

        }
        
        #seccion7 .disp-col{
        }
        
        .cl_ico{
            width: 120px;
            height: 120px;
           
        }
        
        .icon_styles_s7{
            font-size: 5rem; 
            color: orange;
        }
        
        

        
        .disp-row-center img{
            width: 35%;
            height: auto;    
        }
        
        .box-brands{
            width: 15%;
            height: auto;
            margin: 0 5px;
            padding: 0;
            overflow: hidden;
        
        }
        
        .box-brands:nth-child(1){
            margin-right: 5px;
        
        }
        
        .box-brands:nth-child(6){
            margin-left: 5px;
        
        }
        
        .box-brands img{
            width: 100%;
            height: auto;
        }






        #seccionnosotras .disp-row-col{
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex-wrap: wrap;
            align-items: center;
        }
        
        #seccionnosotras .col2_md2{
            width: 85%;  
            padding: 16px;
            background-color: ;
        }
        
        #seccionnosotras .col2_md2:nth-child(1){
            margin-right: 0;
            margin-bottom: 8px;
        }
        
        #seccionnosotras .col2_md2:nth-child(2){
            margin-left: 0;
            margin-top: 8px;

        }

        .col2_md4_nos{
            width: 85%;  
            max-width: 450px;
            padding: 16px;
            background-color: ;
            margin: 8px 0;
        }
        
        .col2_md4_nos:nth-child(1){
            margin-top: 0;
            margin-right: 0;
            margin-bottom: 8px;
        }
        
        .col2_md4_nos:nth-child(4){
            margin-top: 8px;
            margin-left: 0;
            margin-bottom: 0;
        }
        
        #seccionnosotras .disp-col{
        }

        .col2_md3_nos{
            width: 85%;  
            max-width: 450px;
            padding: 16px;
            background-color: ;
            margin: 8px 0;
        }
        
        .col2_md3_nos:nth-child(1){
            margin-top: 0;
            margin-right: 0;
            margin-bottom: 8px;
        }
        
        .col2_md3_nos:nth-child(3){
            margin-left: 0;
            margin-top: 8px;
            margin-bottom: 0;
        }


        .cuadros-pasos{
            width: 80%;
            margin: 30px auto 0px auto;
        }
        
        .cuadros-pasos h3{
            font-size: 18px;
            margin-bottom: 10px;
        }

        .caja-paso::before{
            content: '';
            position: absolute;
            width: 3px;
            height: 140%;
            background-color: var(--color-primary);
            left: -25px;
            top: 10px;
        }

        .cont-pasos{
            background-color: ;
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        
        .foto1{
            width: 100%;
            height: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 16px;

        }

        .foto1:nth-child(3){
          
            margin-bottom: 0;

        }
        
        .foto1 img{
            width: 100%;
            height: auto;
            object-fit: cover;
            padding: 0;
            margin: 0;
        }

        #seccion-final .disp-row-col{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }
    
        .txt_princ_s4{
            font-size: 20px;
            font-weight: 500;
            color: var(--color-primary);
        
        }

        .col2_mtd{
            width: 100%;
            max-width: 599px;
            background-color: ;
        }

        .col2_mtd:nth-child(1){
            width: 100%;
            max-width: 599px;
            padding: 16px;    
        }
        
        .col2_mtd:nth-child(2){
            width: 100%;
            max-width: 599px;
            background-color: ;
            padding: 16px;
        }
        

    
}